<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!--CSS Bootstrap-->
     <link rel="stylesheet" href="/css/all.min.css">
     <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
     <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
     <link rel="stylesheet" href="/css/bootstrap.min.css">
     <!--Icons Fontawesome-->
     <script src="https://kit.fontawesome.com/a707598919.js"></script>
     <!--CSS Custom-->
     <link rel="stylesheet" href="/css/style.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
     <title>Plan Destination</title>
</head>
<body>
    <!--Navbar Start-->
    <%- include('component/navbar') %>
    <!--Navbar End-->
    
    <div class="container">
        <div class="row mt-5">
            <div class="col-6 ml-auto">
                <h2 class="display-4">My Plan</h2>
                <div class="list-group list-group-flush mt-5">
                    <% for(var i = 0; i< data.length; i++)  {%>
                    <div id="x-<%= i %>">
                    <li class="position-relative list-group-item list-group-item-info w-100" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                            <%= data[i].title %>
                        <div class="position-absolute mt-1" style="right: 10px;top:0;">
                            <a name="" id="" class="btn btn-danger ml-auto" href="#" role="button" id="z-<%= i %>">Delete</a>
                        </div>
                    </li>
                    
                    <ul class="list-group ">
                        <li class="list-group-item">
                            <h2>Date</h2><br/>
                            Date Start : <%=  data[i].date_start %><br/>
                            Date End : <%=  data[i].date_end %>
                        </li>
                        <li class="list-group-item">
                            <h2>Destination</h2><br/>
                            <%=  data[i].dest_id %>
                        </li>
                        <li class="list-group-item">
                            <h2>Hotel</h2><br/>
                            <% if(data[i].hotel == '1') {%>
                                You already rented a room
                            <% } else {%>
                                lets rent some room
                            <% } %>
                        </li>
                        <li class="list-group-item">
                            <h2>Ticket & Attraction</h2><br/>
                            <% if(data[i].ticket == '1') {%>
                                you have a  ticket for your event
                            <% } else {%>
                                please buy some ticket
                            <% } %>
                        </li>
                      </ul>
                    </div>
                      <% } %>
                </div>
            </div>    
            <div class="col-2 ml-auto mt-4">
                <a name="" id="" class="btn btn-primary ml-auto" href="/search/jakarta" role="button"><i class="fas fa-plus"></i> Make Plan</a>
            </div>
        </div>
    </div>
    
    <!--Footer Start-->
    <footer class="footer-bs mt-5">
        <div class="row">
            <div class="col-md-3 footer-brand animated fadeInLeft">
                <h2>Logo</h2>
                <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
                <p>© 2014 BS3 UI Kit, All rights reserved</p>
            </div>
            <div class="col-md-4 footer-nav animated fadeInUp">
                <h4>Menu —</h4>
                <div class="col-md-6">
                    <ul class="pages">
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Nature</a></li>
                        <li><a href="#">Explores</a></li>
                        <li><a href="#">Science</a></li>
                        <li><a href="#">Advice</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 footer-social animated fadeInDown">
                <h4>Follow Us</h4>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">RSS</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-ns animated fadeInRight">
                <h4>Newsletter</h4>
                <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
                <p>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                      </span>
                    </div><!-- /input-group -->
                 </p>
            </div>
        </div>
</footer>
<!--Footer End-->
</body>
<script>
    // for()
    // $( "button" ).click(function() {
    //     $( "p" ).remove();
    // });
</script>
<script src="/js/jquery.min.js"></script>
<script src="/js/all.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap3-typeahead.min.js"></script>
</html>